html,
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #404040;
    color: white;
     display: flex;
    padding: 10px;
}

.navbar .nav-menu .menu {
    color: white !important;
    text-decoration: none !important;
    padding: 10px;
}

.navbar .nav-menu {
    margin-left: auto;
}

.navbar .nav-menu .menu {
    transition: background-color 0.3s ease;
}

.navbar .nav-menu .menu:hover {
    background-color: #505050;
}

.blogs {
    padding: 10px;
}

.blogs .popular .popular-blogs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.blogs .popular .popular-blogs .blog{
    display: block;
    flex-grow: 1;
    overflow: hidden;
    max-width: 300px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.blogs .popular .popular-blogs .blog img{
    width: 100%;
    height: auto;
}

.blogs .popular .popular-blogs .blog .blog-detail{
    padding: 10px;
}

.blogs .popular .popular-blogs .blog .blog-detail .blog-title{
    font-weight: bold;
    font-size: 25px;
}

.blogs .latest .latest-blogs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.blogs .latest .latest-blogs .blog{
    display: block;
    flex-grow: 1;
    overflow: hidden;
    max-width: 300px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.blogs .latest .latest-blogs .blog img{
    width: 100%;
    height: auto;
}

.blogs .latest .latest-blogs .blog .blog-detail{
    padding: 10px;
}

.blogs .latest .latest-blogs .blog .blog-detail .blog-title{
    font-weight: bold;
    font-size: 25px;
}
/*------ Contact ----*/
.contact {
  padding-bottom: 130px;
  background-color: #000;
}
.contact h2{
    color: #fff;
}
.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #149ddd;
  color: #fff;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #149ddd;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
  padding: 20px;
}

.contact .php-email-form textarea {
  padding: 20px 20px;
}

.contact .php-email-form button[type="submit"] {
  background: #149ddd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #37b3ed;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
 .demo-title .menu {
    color: white !important;
    text-decoration: none !important;
    padding: 10px;
}

 
 

/*------footer------*/


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
 .main {
    max-height: 550px;;
    background-color: #292c2f;
    color: white;
    font-size: 38pt;
    text-align: center;
    line-height: 550px;
}
footer{
    position: static;
    bottom: 0;
}
.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    font-family: Poppins;
    padding: 55px 50px;
    margin-top: 80px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}
 
.footer-distributed .footer-left{
    width: 40%;
}
 
.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}
 
.footer-distributed h3 span{
    color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}
 
.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}
 
.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
 
 
.footer-distributed .footer-center{
    width: 35%;
}
 
.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}
 
.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}
 
.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}
 
.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;
}
 
.footer-distributed .footer-right{
    width: 20%;
}
 
.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
 
.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
    margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
 
 
@media (max-width: 880px) {
 
    .footer-distributed{
        font: bold 14px sans-serif;
    
    }
 
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 90px;
        text-align: center;
    }
 
    .footer-distributed .footer-center i{
        margin-left: 0;
    }
    .main {
        line-height: normal;
        font-size: auto;
    }
 
}